<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="format-detection" content="telephone=no, email=no">
  <style>
    [v-cloak] {
      display: none;
    }
    .v-cloak--block, .v-cloak--inline, .v-cloak--inlineBlock {
      display: none;
    }
  </style>
</head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
<script>
  if ('addEventListener' in document) {
    document.addEventListener('DOMContentLoaded', function () {
      FastClick.attach(document.body)
    }, false)
  }
</script>
</html>
