<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <title>好近支付深圳站招募合伙人</title>
  <meta name="format-detection" content="telephone=no, email=no">
  <style>
    [v-cloak] {
      display: none;
    }
    .v-cloak--block, .v-cloak--inline, .v-cloak--inlineBlock {
      display: none;
    }
  </style>
</head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
<!-- 友盟统计代码 -->
<script src="https://s19.cnzz.com/z_stat.php?id=1271191185&web_id=1271191185" language="JavaScript"></script>
<script>
  var _czc = _czc || [];
</script>
<script>
  if ('addEventListener' in document) {
    document.addEventListener('DOMContentLoaded', function () {
      FastClick.attach(document.body)
    }, false)
  }
</script>
</html>
