.mint-toast-text {
  font-size: 24px;
  margin: 10px 20px;
}
.mint-indicator-wrapper {
  border-radius: 6px;
}
.mint-indicator-spin {
  margin: 5vw 6vw;
  .mint-spinner-snake {
    width: 6vw !important;
    height: 6vw !important;
    border-width: 1vw;
  }
}
