.mint-toast-text {
  font-size: 24px;
  margin: 10px 20px;
}
.mint-indicator-wrapper {
  border-radius: 6px;
}
.mint-indicator-spin {
  margin: 5vw 6vw;
  .mint-spinner-snake {
    width: 6vw !important;
    height: 6vw !important;
    border-width: 1vw;
  }
}
.mint-msgbox-header {
  padding-top: 45px;
  margin-bottom: 10px;
  .mint-msgbox-title {
    font-weight: normal;
  }
}
.mint-msgbox {
  .mint-msgbox-title {
    font-size: 30px;
  }
  .mint-msgbox-btns {
    height: 80px;
    line-height: 80px;
    padding: 30px;
  }
  .mint-msgbox-btn {
    font-size: 30px;
    line-height: 80px;
  }
  .mint-msgbox-confirm {
    color: #FF8100;
    border-radius: 6px;
    border: 2px solid #FF8100;  /*px*/
  }
}
