body, p, ul, li, h3{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol, dl, li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  font-size: inherit;
  border: none;
  background-color: transparent;
}
input {
  outline: none;
}
em {
  font-style: normal;
}
