body, p, ul, li, h3{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, dl {
  margin-top: 0;
  margin-bottom: 0;
}
ul, ol, dl, li {
  list-style: none;
}
dd {
  margin-left: 0;
}
a {
  text-decoration: none;
}
button {
  font-size: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}
input {
  outline: none;
}
em {
  font-style: normal;
}
