.item {
  height: 100px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  padding-right: 30px;
  border-bottom: 2px solid #E5E5E5;
  .item-label {
    color: #606470;
  }
  .item-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.item-wrap_large {
      width: 450px;
    }
  }
  &.item_height-auto {
    height: auto;
    align-items:flex-start;
    padding: 24px 30px 24px 0;
  }
  &.item_noborder {
    border-bottom: none;
  }
}
.van-tabs--line {
  padding-top: 90px;
}
.van-tabs--line .van-tabs__wrap {
  height: 90px;
}
.van-tabs__line {
  height: 6px;
}
.van-tab {
  font-size: 28px;
  line-height: 90px;
  padding: 0;
}
// datetiempicker
.van-picker__toolbar {
  .van-picker__cancel, .van-picker__confirm {
    color: #FB8100;
    font-size: 32px;
  }
}
.van-picker__columns {
  .van-picker-column {
    font-size: 32px;
  }
}
.van-hairline--top-bottom::after {
  border-width: 2px 0;
}
// Field
.van-field {
  padding: 0;
  font-size: 30px;
}

.van-dialog__confirm, .van-dialog__confirm:active {
  color: #FB8100;
}
