// usual color
$red : #fd5359;
$orange : #ff8100;
$white : #fff;
$aluminium : #8a8c92;
$black : #2f323a;
$midBlack : #4e5057;
$lightBlack : #606470;
$whiteSmoke : #f8f8f8;
$gray : #a7a9ae;
$midGray : #c2c2c2;
$lightGray : #e5e5e5;
$lilyWhite : #ebebeb;
// fontSize
$f1 : 36px;
$f2 : 32px;
$f3 : 30px;
$f4 : 28px;
$f5 : 26px;
$f6 : 24px;
$f7 : 22px;
$f8 : 20px;
$fr1 : 0.48rem;
$fr2 : 0.42666rem;
$fr3 : 0.4rem;
$fr4 : 0.37333rem;
$fr5 : 0.34666rem;
$fr6 : 0.32rem;
$fr7 : 0.29999rem;
$fr8 : 0.26666rem;
